/* STYLES FOR THE GEEK ANGER GENERATOR */
/* Started 12-22 by Matthew Mayer as a portfolio project */

@font-face {
  font-family: Simpsonfont;
  src: url('../fonts/simpsonfont/Simpsonfont_DEMO.otf') format('opentype'),
}
@font-face {
  font-family: Game of Thrones;
  src: url('../fonts/GameofThrones.ttf') format('truetype'),
}
:root {  
  /****** DEFINE SITEWIDE VARIABLES ******/
    /* DEFINE FONTS FOR THE SITE */
      --simpsons-fonts: 'Simpsonfont','Times New Roman', Times, serif;
      --asoiaf-fonts: 'Game of Thrones','Times New Roman', Times, serif;
  
    /* DEFINE COLORS FOR WEBSITE */
      --background-color: #107DC0;
      --yellow: #FED90F;
      --crimson: crimson;
      --burnt-orange: #A04C23;
  
   /****** DESKTOP SITE VARIABLES ******/
      /* ALIGNMENT VARIABLES */
  
      /* SIZING VARIABLES */
      
      /* SPACING VARIABLES */
  
      /* TEXT AND HEADER SIZES */
  
  }
  
  /****** MOBILE SITE VARIABLES ******/
  @media (max-width: 800px) {  /* MOBILE SITE VARIABLES */
    :root {
      /* ALIGNMENT VARIABLES */
      --centered: 0 auto 0 auto;
      
      /* SIZING VARIABLES */
      
      /* SPACING VARIABLES */
  
      /* TEXT AND HEADER SIZES */    }
  }

/* STRUCTURAL STYLES and HTML SECTION TAGS */
  body{
    background-color: var(--background-color);
  }
  .centered{
    width: 80%;
    margin: var(--centered);
  }
  .primary-container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 30px;
    min-Height: 18em;
    padding-top:2rem;
    padding-bottom:1rem;
  }
  .secondary-container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(16,125,192, .7);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 30px;
    padding: 2.25rem;
    margin-top: 62px;
    color: white;
  }
/**/

/* DIV STYLES */
  #masthead {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  #quote {
    margin-bottom: 2em;
  }
  #image {
    border-color: transparent;
    flex-basis: content;
  }
/**/

/* SEMANTIC STYLES */
  a {
    color: var(--yellow);
  }
  h1 {
    font-family: 'Game of Thrones','Times New Roman', Times, serif;
    font-size: 30pt;
    color: silver;
    text-align: center;
    line-height: 1.5em;
    text-shadow: 3px 3px black;
  }
  p.attribution {
    font-family: var(--asoiaf-fonts);
    font-size: 1em;
    text-shadow: none;
    color: white;
    margin-top:18px;
    margin-left: 12px;
  }
  p.quote {
    font-family: var(--simpsons-fonts);
    text-align: center;
    font-size: 1.7em;
    color: var(--yellow);
    text-shadow: 3px 3px 3px black;
  }
/**/

/* UTILITY STYLES */
 .margin32{
  margin: 32px;
}
 .padding12 {
    padding: 12px;
 }
/* IMAGE STYLES */

  .IceAndFire {
    max-width: 250px;
    border-width: 3px;
    border-style: solid;
    border-color: #FED90F;
    border-radius: 30px;
    filter: drop-shadow(36 36 32 black);
   }
  .donut-spinner {
    width: 15em;
    animation: rotate 1.5s linear infinite;
    transition-timing-function: ease;
  }
/**/

/* KEYFRAMES */
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.reload {
  background-color: var(--crimson);
  border-radius: 50%;
  padding: 12px;
  border: 0px;
  color: var(--yellow);
}